* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

html {
scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

li {
  list-style-type: none;
}

.container {
 padding: 48px 0;
 width: 100%; 
}

.row {
  width: 100%;
  max-width: 20000px;
  margin: 0 auto;
  padding: 0 12px;
}


/*NAVIGATION*/


.nav {
  padding-bottom: 42px;
  z-index: 5;
  max-height: 426px;
  height: auto;
}


.plane-butt__img--wrapper {
  position: relative;
  width: 100%;
  height: auto;
  max-height: 426px;
  z-index: -1;


}

.plane-butt__img {
  width: 100%;
  position: absolute;
  z-index: -3;
  max-height: 426px;
  height: auto;
}

.background-color {
  background-color: #1fa5ff86;
  position: absolute;
  width: 100%;
  height: 426px;
  z-index: 99;
}

.background__img {
  background-image:url(./assets/airplanebutt.jpg);
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 426px;
  padding: 0;
}

.nav-bar {
  max-width: 1400px;
  margin: 0 auto;
  width: 75%;
  padding-top: 16px;
  z-index: 100;
  display: flex;
  justify-content: space-between;
}



.blinker__logo__img {
  width: 142px;
  /* position: absolute; */
  /* left: 8%; */
}

/* .nav-bar__links {
  margin-right: 4%;
} */

.nav-bar__link {
  margin-left: 12px;
  color: #242424;
  font-weight: 700;
  font-size: 18px;
}

.nav-bar__contact--button {
  border-radius: 24px;
  padding: 6px 18px;
  text-align: center;
  background-color: #1fa5ff5b;
  font-size: 16px;
  font-weight: 700;
}

.nav-bar__btn {
  color: #150637;
}

.nav__title {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 56px;
}

.nav__title--description {
  color: #ffffff;
  margin-top: 6%;
  
}

.nav-bar__search--bar {
  width: 100%;
  padding: 10px 40px 10px 20px; 
  border: 1px solid #ccc;
  border-radius: 24px;
  font-size: 16px;
  margin-top: 48px;
}

.fa-magnifying-glass {
  position: absolute;
  right: 10px;
  top: 60px;
  color: #74C0FC;
  font-size: 18px;
  cursor: pointer; 
}

.search__flights--wrapper {
  position: relative;
  display: flex;
  align-items: center;
  width: 75%;
  max-width: 560px;
}