* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

html {
scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

li {
  list-style-type: none;
}

.container {
 padding: 50px 0;
 width: 100%; 
}

.row {
  width: 100%;
  min-width: 1200px;
  margin: 0 auto;
  padding: 0 12px;
}


/*NAVIGATION*/


.nav {
  background-color: #1fa5ff86;
  padding-bottom: 42px;
  z-index: 5;
}

.plane-butt__img {
  width: 100%;
  position: absolute;
  height: 356px;
  /* z-index: 1; */
  display: none;
}

.navbar {
  max-width: 1600px;
  width: 100%;
  padding-top: 16px;
  z-index: 2;
  display: flex;
  justify-content: space-between;
}

.blinker__logo__img--wrapper {
  position: absolute;
}

.blinker__logo__img {
  width: 142px;
  position: absolute;
  left: 4%;
}

.nav-bar__links {
  margin-right: 4%;
}

.nav-bar__link {
  margin-left: 12px;
  color: #242424;
  font-weight: 700;
  font-size: 18px;
}

.nav-bar__contact--button {
  border-radius: 24px;
  padding: 6px 18px;
  text-align: center;
  background-color: #1fa5ffe0;
  font-size: 16px;
  font-weight: 700;
}

.nav-bar__btn {
  color: #150637;
}

.nav__title {
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 2;
}

.nav-bar__search--bar {
  width: 100%;
  padding: 10px 40px 10px 20px; 
  border: 1px solid #ccc;
  border-radius: 24px;
  font-size: 16px;
}

.fa-magnifying-glass {
  position: absolute;
  right: 10px;
  color: #74C0FC;
  font-size: 18px;
  pointer-events: none; 
}

.search__flights--wrapper {
  position: relative;
  display: flex;
  align-items: center;
  width: 75%;
  max-width: 460px;
}